.popup-container {
    position: absolute;
    background-color: darkcyan;
    padding: 10px;
    width: 650px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #0a0a0a;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.popup-text {
    font-size: 32px;
}
.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 50%;
    background-color: #0a0a0a;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: #ededed;
}
.popup-close div {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
.popup-close:hover {
    background-color: #272727;
}

.popup-close-button {
    position: relative;
    padding: 10px;
    background-color: #0a0a0a;
    height: 50px;
    font-size: 32px;
    border-radius: 20px;
    color: #ededed;
}
.popup-close-button:hover {
    background-color: #272727;
}
.popup-close-button div {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    text-align: center;
    width: 100%;
}
.popup-list-header {
    font-size: 30px;
    text-align: center;
}
.popup-list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}
.popup-list-item .scrabble-word-container {
    width: 85%;
}
.popup-list-item .score-text {
    font-size: 40px;
    margin-left: 10px;
}