.scrabble-input-container {
    position: relative;
    width: 700px;
}
@media only screen and (max-width: 700px) {
    .scrabble-input-container {
        width: 95%;
    }
}
.hidden-input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
}

.scrabble-input-container .scrabble-word-container {

    height: 10cqw;
}

